body {
    background-color: #efefef;
}

div#navgroup {
    background-color: rgba(203,205,209, 0.85);
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

div#firstdiv, #bylines-firstdiv {
    padding-top: 10%;
    padding-bottom: 7%;
    border-radius: 0 0 25% 0;
    /*background-color: #caebf2;*/
}

#bylines-firstdiv>div {
    margin-bottom: 80px;
}

#mobile {
  display: none;
  line-height: 2;
}

#mobile li {
  list-style: none;
  font-family: "Montserrat","Helvetica Neue",sans-serif;
  text-align: center;
  line-height: 1.5;
}

#mobile a {
  color: #1f1f1f;
  font-weight: 750;
  font-size: 14px;
}

#mobile a:focus {
  background-color: gray;
}

#nav-icon {
  position: absolute;
}

div#second-div {
    height: 45%;
    padding-top: 6%;
    background-color: #caebf2;
    border-radius: 27.5% 0 0 0;
}

#name {
    margin-left: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 2px;
    font-family: 'Sen', sans-serif;
    font-size: 28px;
    text-align: left;
    text-transform: uppercase;
}

#name a {
    text-decoration: none;
    color: #1f1f1f;
}

#name a:hover {
    color: hsla(0, 0%, 0%, 0.5);
    transition-property: color;
    transition-duration: 0.5s;
}

h3 {
    font-family: "Lato","Helvetica Neue",sans-serif;
    font-weight: 800;
}

h4 {
    font-family: "Lato","Helvetica Neue",sans-serif;
    font-weight: 650;
}

ul.dropdown-menu li {
    font-family: "lato","Helvetica Neue",sans-serif;
    text-align: center;
}

ul.dropdown-menu a{
    background-color: white;
}

div.workexp:target {
    padding-top: 14%;
}


ul#navmenu {
    margin-top: 5%;
    margin-right: 1%;
    text-align: right;
}

ul#navmenu li {
    margin-right: 1.5%;
    display: inline-block;
    font-family: "Montserrat","Helvetica Neue",sans-serif;
}

ul#navmenu a {
    color: #1f1f1f;
    font-weight: 750;
    font-size: 16px;
}

a#active {
    color: hsla(0, 0%, 0%, 0.5) !important;
}

ul#navmenu a:hover {
    color: rgba(164,167,162);
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
}

.bylines>header {
    background-color: #cfcfcf;
    height: 4.2em;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

.subhed {
    font-size: 42px;
    color: #6a6a6a;
    padding: 15px;
    text-align: center;
    margin: 1.5% auto 1% auto;
    vertical-align: text-top;
}

.subhed + p {
    text-align: center;
    font-weight: 600;
    padding-left: 100px;
    padding-right: 100px;
}

div[id^="title"] {
    font-size: 42px;
    color: #6a6a6a;
    text-transform: capitalize;
    margin-bottom: 20px;
    display: inline-block;
}

#all_title {
    width: 100%;
    margin-top: 90px;
}

#title_1 {
    width: 50%;
    vertical-align: text-top;
}

#title_2 {
    width: 3%;
    vertical-align: middle;
}

#title_3 {
    width: 45%;
    vertical-align: text-bottom;
}

#title_1 h2 {
    text-align: right;
    font-family: 'Merienda One', cursive;
    font-size: 24px;
    position: relative;
    animation-name: come-right;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes come-right {
    0%   {left:-80px;}
    25%  {left:50px;}
    50%  {left:120px;}
    75%  {left:50px;}
    100% {left:0px;}
  }

#title_2 h2 {
    text-align: center;
    font-size: 48px;
}

#title_3 h2{
    text-align: left;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 24px;
    position: relative;
    animation-name: come-left;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes come-left {
    0%   {right:-80px;}
    25%  {right:50px;}
    50%  {right:120px;}
    75%  {right:50px;}
    100% {right:0px;}
  }

.exps {
    font-weight: bold;
    font-size: 26px;
    margin-top: 0.6%;
}

.smallhd {
    font-size: 19px;
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
}

.middlehd {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.largehd {
    font-size: 22px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

header>h2 {
    text-align: center;
    font-weight: bold;
}

.carousel-caption h2 {
    font-size: 26px;
}

.carousel-caption h3 {
    font-size: 19px;
}

div.organizations {
    position: absolute;
    bottom: 5px;
    border-top: gray 1px solid;
    width: 75%;
}

header+section {
    margin: auto;
    height: 250px;
}

div.bylines {
    margin: auto;
    width: 90%;
    height: 350px;
    background-color: #ece9e3;
    border-radius: 15px;
    border: 2px solid #a9a9a9;
    position: relative;
    animation-name: come-up;
    animation-duration: 1s;
    animation-timing-function: linear;
}

div#expsort {
    text-align: center;
    margin-bottom: 2.5%;
}

div.workexp {
    border-left: #36445A outset 5px; 
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 0 1% 0 1%;
    vertical-align: text-top;
}

img.frameimg {
    max-width: 80%;
    margin-left: 8%;
}

#map {
    width: 700px;
    height: 400px;
    margin: 13px auto;
}

div.titlediv {
    margin-bottom: 1.5%;
}

#profile-photo {
    width: 90%;
    margin-left: 15%;
    border-radius: 100px;
}

#photo {
    margin-bottom: 5%;
    position: relative;
    animation-name: come-up;
    animation-duration: 2s;
    animation-timing-function: linear;
}

#intro {
    background: rgb(239,239,239, 0.8);
    box-shadow: inset 0 0 15px #cfcfcf;
    border-radius: 100px;
    animation-name: glow;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

#intro a {
    animation-name: glow;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes come-up {
    0%   {bottom:-200px;}
    50%  {bottom:-100px;}
    100%  {bottom: 0px;}
  }

  @keyframes glow {
    0%   {color: #cfcfcf;}
    50%  {color:rgba(203,205,209);}
    100%  {color: rgba(164,167,162);}
  }


label, input, select, textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

section {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    vertical-align: text-top;
    padding: 20px 15px 20px 15px;
    line-height: 1.5;
    margin-bottom: 5%;
}

h2 a {
    color: #1f1f1f;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

h2 a:hover {
    text-decoration: none;
    font-size: 103%;
    color: #6a6a6a;
    transition-duration: 1s;
    transition-property: font-size, color;
}

#home-nav {
    font-size: 26px;
    background-color: #bed6e9;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#personalinfo {
    vertical-align: text-top;
    padding: 36px 25px 40px 43px;
    line-height: 1.7;
    width: 100%;
    margin: auto;
    font-size: 15px;
    font-weight: 550;
}

#contact {
    margin-bottom: 2%
}

#email {
    margin-bottom: 2.5%
}

#purpose {
    margin-bottom: 2%
}

input, textarea {
    outline: none;
    transition-property: border;
    transition-duration: 1s;
}

button#submitbutton {
    transform: scale (2);
    transition-property: all;
    transition-duration: 2s;
}

textarea:focus, input:focus, select:focus {
    border: 1.5px solid #6a6a6a;
}

button#submitbutton:hover {
    background-color: black;
    color: white;
    font-weight: 500em;
}

button#submitbutton:visited {
    background-color: #3f3e3e;
    color: white;
}

footer {
    text-align: center;
    font-family: "Montserrat","Helvetica Neue",sans-serif;
    background-color: rgba(203,205,209);
    padding: 1.5%;
}

div#allexps {
    width: 92%;
    margin: auto;
}

#github {
    text-align: center;
}

@media screen and (min-width: 1800px) {
    #all_title {
        margin-top: 120px;
    }
    #personalinfo {
        padding: 60px 25px 40px 50px;
        line-height: 1.8;
        font-size: 16px;
    }
}

@media screen and (max-width: 1090px) {
    section>p {
        font-size: 15px;
    }
    #intro {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 970px) {
    #mihai {
        padding-top: 15px;
    }
}

@media screen and (max-width: 900px) {
    div#firstdiv {
        padding-top: 20%;
    }
    ul#navmenu a {
        font-size: 14px;
    }
    #personalinfo {
        padding: 30px 20px 30px 40px;
        line-height: 1.5;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){
    #comments {
        margin-left: 4%
    }

    #travel {
        width: 400px;
    }

    #designer {
        width: 100%;
        margin: auto;
    }

    section {
        padding: 15px 10px 15px 10px;
    }

    #bylines-firstdiv {
        padding-top: 24%;
    }

    div#allexps {
        width: 100%;
    }
}

@media screen and (max-width: 648px) {
    div#firstdiv, #bylines-firstdiv {
        padding-top: 30%;
    }
}

@media screen and (max-width: 440px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
    }

    h4 {
        font-size: 16px;
        font-weight: bold;
    }

    #navmenu a {
        font-size: 12.5px;
    }

    #travel {
        width: 320px;
    }

    #comments {
        margin-left: 4%
    }
}
