header {
    background-color: darkblue;
    color: white;
    padding: 0.75em;
    border-radius: 10px;
}

body {
    font-family: Arial, sans-serif;
}

section>p {
    font-style: italic;
}

div#results {
    width: 500px;
    margin-top: 2em;
    padding-top: 10px;
    border-top: 1px dashed black;
}